<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniPay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cyh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>hf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>hfb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hxsn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>hxzf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ipos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>lxzf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>nzf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>wbht.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>xbt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>yf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>yft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>080CC3CF17A63EC900BDD466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1814830D18AA270D0018CDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1815AC4C18F7AB9400264F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181ED2AE18CF06C100F97C57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1836AA6719513A5000A43065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18573B611946945200D8D9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186A79061978A81500CC7827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187294A118F80137008713AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1872963418F80148008713AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187A081E195CFC8000B97048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187EFE6E19A3428D001DC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1895A6D119469B8300FC4E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189B4F7D1946A48C00AF2F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AEA66818AA1E7E00B9B48E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B3999D19501F6100E88841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B39B131950262C00E88841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B39C851950287400E88841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B39DF819502A4D00E88841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B39F6B19502D0D00E88841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B3A0DE19502EA000E88841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B53482199B431900FCE556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CF83F9199B35FE00C188A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D99F741946A73000113FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FE35571946A79C00826BE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
