<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniPay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cyh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>hf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>xbt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>080CC3CF17A63EC900BDD466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1814830D18AA270D0018CDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1815AC4C18F7AB9400264F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181ED2AE18CF06C100F97C57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
